<div *ngIf="facade.state$ | async as state">
  <div *ngIf="!state.isLoading; else loading">
    <div class="posts">
      <div class="posts__header">
        <app-search-field
          placeholder="Search post by user data.. (username,email .. etc)"
          (filterChange)="onFilterChange($event, state)"
        ></app-search-field>
        <div *ngIf="state.isFilterActive" class="spinner"></div>
      </div>
      <div
        class="posts__list"
        *ngIf="state.filteredPosts.length > 0; else noPost"
      >
        <div
          class="posts__list-content"
          *ngFor="let post of state.filteredPosts; trackBy: trackByFn"
        >
          <app-post
            (click)="goToPostReview(post.id)"
            [user]="state.users[post.userId]"
            [comments]="state.comments[post.id]"
            [post]="post"
          ></app-post>
        </div>
      </div>
      <ng-template #noPost> No post found...</ng-template>
    </div>
  </div>
  <ng-template #loading>
    <div *ngIf="state.isLoading">loading....</div>
  </ng-template>
  <div *ngIf="state.error">
    <h1>{{ state.error }}</h1>
  </div>
</div>
