.posts {
  width: 62rem;
  margin: 0 auto;
  border: 0.063rem solid #ddd;
  padding: 1rem;

  &__list {
    &-content {
      cursor: pointer;
    }
  }
  &__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 6rem;
    width: 100%;
  }
}
.spinner {
  height: 12.5rem;
  width: 12.5rem;
  background: url("~src/assets/loading-buffering.gif") center;
}
