.input {
  &__container {
    min-width: 100%;
  }
  &__search {
    background-image: url('https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-search-seo-dreamstale-lineal-dreamstale-7.png');
    background-position: 0.25rem 0.37rem;
    background-repeat: no-repeat;
    width: 30rem;
    font-size: 1rem;
    padding: 0.75rem 1.25rem 0.75rem 2.5rem;
    border: 0.063rem solid #ddd;
    margin-bottom: 0.75rem;

    &:focus {
      outline: none;
    }
  }
}
