<div class="post" *ngIf="post && user && comments">
  <div class="post__content">
    <div class="post__content-user">
      <span class="post__content-user-avatar">{{ initials }}</span>
      <span class="post__content-user-name">{{ user.name }}</span>
    </div>
    <div class="post__content-title">
      <h1>{{ post.title }}</h1>
    </div>
    <div class="post__content-body">
      <p>{{ post.body }}</p>
    </div>
    <hr />
    <div class="post__footer">
      <div *ngIf="!showCommentDetails" class="post__comment-icon">
        <span *ngIf="comments.length > 0" class="post__comment-bubble">{{
          comments.length
        }}</span>
      </div>
    </div>
    <div *ngIf="showCommentDetails && comments.length > 0">
      <div
        class="post__comment-details"
        *ngFor="let comment of comments; trackBy: trackByFn"
      >
        <p class="post__comment-details-email">{{ comment.email }}</p>
        <p class="post__comment-details-title">{{ comment.name }}</p>
        <p class="post__comment-details-body">{{ comment.body }}</p>
      </div>
    </div>
  </div>
</div>
