.post {
  width: 100%;
  background: #fff;
  border-radius: 0.313rem;
  border: 0.063rem solid #ddd;
  box-shadow: rgb(0 0 0 / 20%) 0 0.25rem 0.125rem -0.125rem;
  margin: 3rem auto;

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__comment {
    &-details {
      margin-bottom: 0.65rem;
      box-shadow: 0 0.063rem 0.18rem rgb(0 0 0 / 40%);
      background: #fff;
      border-radius: 0.62rem;
      font-size: 0.68rem;
      padding: 0.62rem 0.93rem;

      &-email {
        color: #ccc;
      }
      &-title {
        font-weight: 600;
        font-size: 1.063rem;
      }
      &-title {
        font-weight: 600;
        font-size: 1rem;
      }
    }

    &-icon {
      position: relative;
      min-width: 3rem;
      min-height: 3rem;
      background: url('https://www.freeiconspng.com/uploads/comment-png-1.png')
        no-repeat center;
      background-size: cover;
    }

    &-bubble {
      display: inline-flex;
      justify-content: center;
      width: 1rem;
      height: 1rem;
      align-items: center;
      background: rebeccapurple;
      border-radius: 50%;
      color: #ffffff;
      font-size: 0.62rem;
      position: absolute;
      right: 0;
      top: -8%;
    }
  }

  &__content {
    padding: 1rem;

    &-title > h1 {
      font-size: 1.81rem;
      font-weight: 300;
    }

    &-body > p {
      font-size: 1.25rem;
    }

    &-user-avatar {
      color: white;
      background: rebeccapurple;
      background-size: cover;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      margin-right: 0.5rem;
      position: relative;
      width: 2rem;
    }
  }
}
