<div
  class="post__review"
  *ngIf="{ post: getPost$ | async, state: facade.state$ | async } as data"
>
  <ng-container *ngIf="!data.state.isLoading && data.post; else loading">
    <div class="post__review-title"><h1>Review Post</h1></div>
    <div class="post__review-post">
      <app-post
        [showCommentDetails]="true"
        [comments]="data.state.comments[data.post.id]"
        [user]="data.state.users[data.post.userId]"
        [post]="data.post"
      ></app-post>
    </div>
  </ng-container>
  <ng-template #loading>loading...</ng-template>
  <div *ngIf="data.state.error && !data.state.isLoading">
    {{ data.state.error }}
  </div>
</div>
